<h2>To Do List</h2>
<div class="row form-group">
    <div class="col-md-8">
        <input
            class="form-control"
            id="search"
            (keyup)="search($event)"
            [(ngModel)]="searchText"
            placeholder="Enter text to Search..."
        />
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" routerLink="/todos/0">
            Add ToDo
        </button>
    </div>
</div>
<ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">{{ todo.Name }}</li>
</ul>
