<!-- Add a form
save the form
validation on the form
-->
<h2>{{ isNew ? 'Add' : 'Edit' }} ToDo</h2>

<form [formGroup]="todoForm" (submit)="saveToDo()">
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" formControlName="Name" />
            <div
                *ngIf="
                    todoForm.controls.Name.invalid &&
                    (todoForm.controls.Name.dirty ||
                        todoForm.controls.Name.touched)
                "
                class="alert alert-danger"
            >
                <div *ngIf="todoForm.controls.Name.errors.required">
                    Name is Required.
                </div>
                <div *ngIf="todoForm.controls.Name.errors.maxlength">
                    Max length for Name is 50.
                </div>
            </div>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Save</button>
</form>
